<button class="btn btn-success" @onclick="OnClick">Randomize</button>

@code {
    [Parameter]
    public int Nr { get; set; }

    [Parameter]
    public EventCallback<int> NrChanged { get; set; }

    private void OnClick()
    {
        Random rand = new Random();
        NrChanged.InvokeAsync(rand.Next(0,100));
    }
}