@page "/forms"
@using System.ComponentModel.DataAnnotations
@inject ILogger<Forms> Logger;
@rendermode InteractiveServer

<PageTitle>DataBinding</PageTitle>
<EditForm FormName="personForm" Model="@Model" OnSubmit="OnSubmit">
    <ValidationSummary/>
    <InputText
        @bind-Value="Model!.FirstName"
        placeholder="First name"/>

    <InputText
        @bind-Value="Model!.LastName"
        placeholder="Last name"/>

    <button type="submit">Save</button>
</EditForm>

<hr />
<p>
    Hello @Model!.FirstName @Model!.LastName
</p>

@code {

    [SupplyParameterFromForm]
    public Person? Model { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new()
        {
            FirstName = "",
            LastName = ""
        };
    }
    
    void OnSubmit()
    {
        Logger.LogInformation(
            "Submitted: {FirstName} {LastName}", 
            Model?.FirstName, 
            Model?.LastName);
    }

    public class Person
    {
        [MaxLength(20)]
        public required string FirstName { get; set; }
        public required string LastName { get; set; }
    }

}