@page "/PassingProps"
@rendermode InteractiveServer

<PageTitle>PassingProps</PageTitle>

<Heading>Hello world</Heading>

<ProductItem
    Title="Good Product"
    Description="This is a very good product! Buy it now."
    Image="/favicon.png"/>

<hr />

<ThingWithEventHandler OnRandomNumber="RandomNumberCallback"/>

<p>The random number is: @randomNr</p>

@code {
    int randomNr = 0;

    public void RandomNumberCallback(int nr)
    {
        randomNr = nr;
    }
}