@using System.ComponentModel.DataAnnotations
<article>
    @if (!string.IsNullOrEmpty(Image))
    {
        <img src="@Image" alt="@Title"/>
    }

    <h3>@Title</h3>

    @if (!string.IsNullOrEmpty(Description))
    {
        <p>@Description</p>
    }
</article>

@code {
    [Parameter]
    [Required] 
    public required string Title { get; set; }

    [Parameter] public string? Description { get; set; }

    [Parameter] public string? Image { get; set; }
}